
@{
    ViewBag.Title = "Find Me";
}
<!-- Page Header -->
<header class="intro-header contact_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me Now</h1>
                    <span class="subheading">Have questions？ Maybe I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Want to get in touch with me? <br />Send me a EMail and I will get back to you soon!</p>
            <p>
                Email Address：Kevin8956061@gmail.com
            </p>
            <p>
                Phone Number (Taiwan, ROC)：0917-930332
            </p>
        </div>
    </div>
</div>


