
@{
    ViewBag.Title = "About Me";
}
<!-- Page Header -->
<header class="intro-header about_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">My Achievement.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="panel-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge">
                            <i class="fa fa-html5"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Edx HTML5 Online Course </h4>
                                <a href="https://www.edx.org/course/html5-introduction-w3cx-html5-0x-0" target="_blank">進行Edx HTML5線上課程</a>
                            </div>
                            <!--<div class="timeline-body">
                            </div>-->
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2016.09</small>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">ESL Course on Los angeles</h4>
                                洛杉磯ESL語言課程畢業、公民入籍模擬考試
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2016.08</small>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">OOP Course Certification</h4>
                                <a href="#" target="_blank">物件導向程式設計課程認證</a>
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2015.12</small>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Master of Computer Science</h4>
                                取得政大資訊科學碩士學位 <br />
                                <a href="~/img/國立政治大學資訊科學系_劉耀文_碩士論文.pdf">畢業論文：GitHub資料分析</a>
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2015.10</small>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger">
                            <i class="fa fa-github"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">.NET MVC5 & Angular JS & GitHub Course Certification </h4>
                                <a href="#" target="_blank">ASP.NET MVC5課程認證</a><br />
                                <a href="#" target="_blank">Angular JS課程認證</a><br />
                                <a href="#" target="_blank">GitHub課程認證</a>

                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2015.12 & 2015.06 & 2014.11</small>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">NCCU Scholarship</h4>
                                獲得政大研究所獎學金
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2014.06</small>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">MSI Co.</h4>
                                微星科技，負責品保系統開發、程式共用模組開發、使用者介面/經驗、教育訓練
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2013.10</small>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">NCCU Institute of Computer Science</h4>
                                就讀政大資訊科學所在職專班，主攻程式設計理論與資料分析
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2013.09</small>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Center for Educational Research and Evaluation, NTNU</h4>
                                師範大學教育評鑑中心，推動政府教育評鑑調查，線上問卷與後台資料分析平台開發
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2012.09</small>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Nando Co.</h4>
                                能得科技，客製化網站與ERP系統模組開發
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2009.11</small>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info">
                            <i class="fa fa-download"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Download Now!</h4>
                                <span class="fa fa-eye margin_sm"></span><a href="#" target="_blank">立即下載我的履歷</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



